.nav-link:hover{ 
	background: #f4f4f4; 
	color: #f97300; 
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.nav.navbar-nav li a{
    color: white;
	/*padding-left: 5px;
	padding-right: 60px;*/
}

.nav.navbar-nav li p{
    color: white;
	/*padding-left: 5px;*/
	padding-right: 30px;
}

.nav.navbar-nav li a:hover {
    background-color: #555;
    color: white;
	/*padding-left: 20px;
	padding-right: 20px;*/
}


/*.nav.navbar-nav p{
    color: white;
    padding-top: 15px;
	padding-left: 100px;
	padding-right: 250px;
}*/

.header{
	background-image: 'backgroundImage.jpg';
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
  
h2 {
	font-size: 30px;
}

hr {
	width: 70%;
}


.about_us {
	color: #EAE6E6;
}


body {
<<<<<<< HEAD
	color:white;
	height:100%;
   	width:100%;
=======
	height: 100%;
   	width: 100%;
>>>>>>> c6c62de8ef41a88077fee1ef24ec14596009c97f
   	background-image: url(/static/images/background.jpg);/*your background image*/  
   	background-repeat: no-repeat;/*we want to have one single image not a repeated one*/  
   	background-size: cover;/*this sets the image to fullscreen covering the whole screen*/  
   	/*css hack for ie*/     
   	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
   	background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}





