<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../Script/home_style.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Muji</title>
</head>
  
<body>
    <div class="container-fluid">
        <nav class="navbar">
            <div class="container">
                <div id="navbar" class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><p>muji.com</p></li>
                        <li class="active"><a href="/">Home</a></li>
                        <li class="active"><a href="about">About</a></li>
                        <li class="active"><a href="detection">Audio Detection</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h2>ABOUT US</h2>
    <hr>
    <div>
        <p class="about_us">This is a Final Group Project for Web Programming (COMP-0020) class at Tufts University. This team consists of Manish Aryal, Titapa Chaiyakiturajai, Anna Yuen, and Naoki Okada. We are all currently sophomores.

        With the help of Spotify API and DeepAffects API, MuJi gives you a song that we deem best fits your current detected mood.</p> 
    </div>
    <hr>


</body>
<html>