<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../Script/home_style.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Muji</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar">
            <div class="container">
                <div id="navbar" class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><p>muji.com</p></li>
                        <li class="active"><a href="homepage.html">Home</a></li>
                        <li class="active"><a href="about.html">About</a></li>
                        <li class="active"><a href="detection.html">Audio Detection</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <h5>
            Our emotion detector detects your current emotion and matches and your current emotion and matches your current mood to a song. You can add it to to a playlist so that you can enjoy it any time, at any mood, effortlessly!
        </h5>
    </div>
</body>
<html>