<!DOCTYPE html>
<html>
<head>

  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  	<link href="home_style.css" rel="stylesheet">
  	<script src='home_style.js'></script>
	<title>Muji</title>
</head>



<body>

	<div class="navbar-wrapper">
	    <div class="container-fluid">
	        <nav class="navbar">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" 	aria-controls="navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    </button>
	                    
	                </div>
	                <div id="navbar" class="navbar-collapse collapse">
	                    <ul class="nav navbar-nav pull-left">
	                    	<a class="navbar-brand" href="#">Muji</a>
	                        <li class="active"><a href="#">Home</a></li>
	                        <li class="dropdown"><a href="#">About</a></li>
	                        <li class="down"><a href="#">Audio Detection</a></li>
	                        <li class="down"><a href="#">Contact Us</a></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </div>
	</div>
	<div class="music">
		<p>Now playing:</p>
		<p>Never Gonna Give You Up</p>
		<button id="playB">Play</button>
		<button id="pauseB">Pause</button>
		<button>Add to Playlist</button>
	</div>
	<script src="./music.js"></script>
</body>
</html>